<?xml version="1.0" encoding="utf-8"?>
<plugin 
    id="cordova-plugin-notifier" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Notifier</name>

    <js-module name="notifier" src="www/index.js">
        <clobbers target="Notifier"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Notifier">
                <param name="android-package" value="com.ahmedayachi.notifier.Notifier" />
            </feature>
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <receiver 
                android:name="com.ahmedayachi.notifier.ActionListener"
                android:enabled="true"
                android:exported="true"
            />
        </config-file>
        <source-file src="src/android/Notifier.java" target-dir="src/com/ahmedayachi/notifier/Notifier"/>
        <source-file src="src/android/Notification.java" target-dir="src/com/ahmedayachi/notifier/Notification"/>
        <source-file src="src/android/ToastView.java" target-dir="src/com/ahmedayachi/notifier/ToastView"/>
        <source-file src="src/android/Asset.java" target-dir="src/com/ahmedayachi/notifier/Asset"/>
        <source-file src="src/android/Action.java" target-dir="src/com/ahmedayachi/notifier/Action"/>
        <source-file src="src/android/ActionListener.java" target-dir="src/com/ahmedayachi/notifier/ActionListener"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Notifier">
                <param name="ios-package" value="Notifier" onload="false"/>
            </feature>
        </config-file>
        <source-file src="src/ios/NotifierPlugin.swift"/>
        <source-file src="src/ios/Notifier.swift"/>
        <source-file src="src/ios/Notification.swift"/>
    </platform>

    <platform name="browser">
        <js-module src="src/browser/Notifier.js" name="browserNotifier">
            <clobbers target="Notifier"/>
        </js-module>
    </platform>
    
</plugin>